table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th{
    padding: 10px;
    background-color: rgb(17, 192, 192);
}
td{
    background-color: aquamarine;
    padding: 10px;
}